.imageContentContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.titleHeader {
    font-weight:600;
    width: 100%;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 70px;
    line-height: 1.3em
}

.fullWidth {
    width: 100%;
}

.buttonSection{
    width:100%;
    height:50px;
}

.buttonContainer{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.text{
    width:250px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-align:center;
    position: absolute;
    right: 90px;
}